@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Anek Odia', sans-serif;
}
.App {
  text-align: center;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 0;
  margin: 0;
}


.text {
  color: #fafafa;
  /* font-size: 2rem; */
  font-weight: bold;
  /* margin-top: 1rem; */
}

.name{
  color: #fafafa;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 6rem;
  text-align: center;
}


.description {
  color: #fafafa;
  padding: 1rem 7rem;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .description {
    padding: 0rem 1rem;
  }
  .name{
    color: #fafafa;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 1rem;
    text-align: center;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
